@cls-prefix: li-zelda-mobile-layout;

/** START
  copy antd-mobile global.css
  解决资产样式全局污染问题
START **/
/* stylelint-disable */
:root {
  --adm-radius-s: 4px;
  --adm-radius-m: 8px;
  --adm-radius-l: 12px;
  --adm-font-size-1: 9px;
  --adm-font-size-2: 10px;
  --adm-font-size-3: 11px;
  --adm-font-size-4: 12px;
  --adm-font-size-5: 13px;
  --adm-font-size-6: 14px;
  --adm-font-size-7: 15px;
  --adm-font-size-8: 16px;
  --adm-font-size-9: 17px;
  --adm-font-size-10: 18px;
  --adm-color-primary: #1677ff;
  --adm-color-success: #00b578;
  --adm-color-warning: #ff8f1f;
  --adm-color-danger: #ff3141;
  --adm-color-text: #333333;
  --adm-color-text-secondary: #666666;
  --adm-color-weak: #999999;
  --adm-color-light: #cccccc;
  --adm-color-border: #eeeeee;
  --adm-color-background: #ffffff;
  --adm-color-white: #ffffff;
  --adm-color-box: #f5f5f5;
  --adm-color-text-light-solid: var(--adm-color-white);
  --adm-color-text-dark-solid: #000000;
  --adm-color-fill-content: var(--adm-color-box);
  --adm-font-size-main: var(--adm-font-size-5);
  --adm-font-family: -apple-system, blinkmacsystemfont, 'Helvetica Neue', helvetica, segoe ui, arial,
    roboto, 'PingFang SC', 'miui', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
  --adm-border-color: var(--adm-color-border);
}

html[data-prefers-color-scheme='dark'] {
  --adm-color-primary: #3086ff;
  --adm-color-success: #34b368;
  --adm-color-warning: #ffa930;
  --adm-color-danger: #ff4a58;
  --adm-color-text: #e6e6e6;
  --adm-color-text-secondary: #b3b3b3;
  --adm-color-weak: #808080;
  --adm-color-light: #4d4d4d;
  --adm-color-border: #2b2b2b;
  --adm-color-box: #0a0a0a;
  --adm-color-background: #1a1a1a;
  --adm-border-color: var(--adm-color-border);
}

:root {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  &.adm-overflow-hidden {
    overflow: hidden !important;
  }

  div.adm-px-tester {
    --size: 1;
    position: fixed;
    right: -100vw;
    bottom: -100vh;
    width: 0;
    height: calc(var(--size) / 2 * 2px);
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
  }
}

.@{cls-prefix} {
  color: var(--adm-color-text);
  font-size: var(--adm-font-size-main);
  font-family: var(--adm-font-family);
  a,
  button {
    cursor: pointer;
  }
  a {
    color: var(--adm-color-primary);
    transition: opacity ease-in-out 0.2s;
  }
  a:active {
    opacity: 0.8;
  }
  .adm-plain-anchor {
    color: unset;
    transition: none;
  }
  .adm-plain-anchor:active {
    opacity: unset;
  }
}

/** END copy antd-mobile global.css END **/
/* stylelint-enable */

:root:root {
  --adm-button-border-radius: 2px;
  --adm-color-primary: #48d69d;
  --adm-color-border: #473f3b;
  --adm-color-box: #0a2c1e;
  --adm-color-background: #032115;
  --adm-floating-panel-z-index: 1000;
}

/* stylelint-disable */
.@{cls-prefix} {
  /* stylelint-enable */
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &__main {
    display: flex;
    flex: auto;
    width: 100%;
  }

  &__map-container {
    flex: auto;

    .l7-control-container .l7-bottom {
      display: none;
    }
  }

  // 调整 l7-button-control 的样式
  .l7-button-control {
    color: var(--adm-color-text-secondary) !important;
    background: var(--adm-color-background) !important;
    border-color: var(--adm-color-border) !important;

    .l7-iconfont {
      fill: var(--adm-color-text-secondary) !important;
    }

    &:hover {
      .l7-iconfont {
        fill: var(--adm-color-text) !important;
      }
    }
  }
}
