@cls-prefix: li-zelda-filter-panel;

.@{cls-prefix} {
  &__search {
    padding: 0 12px 12px;

    .adm-space-item:first-child {
      flex: 1;
    }

    .adm-search-bar-cancel-button.adm-button {
      padding: 3px 2px;
      color: var(--adm-color-primary);
      font-size: 16px;
    }
  }

  &__groupList {
    .adm-list-body {
      padding-top: 1px;
    }
  }

  &__markIcon {
    font-size: 30px;
  }

  &__btnGroup {
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    background: #032115;
  }
}
